@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.logo-img{
    width: 80px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.logo-span{
    color: #4c4747;
    font-size: 14px;
    font-weight: bold;
}

.product-btn:hover{
    color: orange;
}

.btn-send{
    margin-left: 15px;
    margin-bottom: 30px;
    width: 50%;
}

.btn-send:hover{
    color: orange;
}

.form-send{
    width: 50%;
    margin: 15px 0 15px 15px;
}

.form-send label{
    color: black;
    font-size: 14px;
}

.all-icons [class*="pe-"]{
    font-size: 40px;
    width: 180px;
    height: 225px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

.tx-in{
    background-color: #5cb85c;
    padding: 4px 12px;
    border-radius: 4px !important;
    font-weight: 400;
    font-size: 11px;
}

.tx-out{
    background-color: #e67e22;
    padding: 4px 7px;
    border-radius: 4px !important;
    font-weight: 400;
    font-size: 11px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.balance-name{
    color: black;
}

.balance{
    float: right;
    font-weight: bold;
    color: orange;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}


/* 
*reset pagination
*/

.pagination{
    --uiPaginationItemPadding: var(--paginationItemPadding, 5px 8px);
    --uiPaginationItemBorderRadius: var(--paginationItemBorderRadius);
    --uiPaginationItemTextColor: var(--paginationItemTextColor, inherit);
    --uiPaginationItemActiveTextColor: var(--paginationItemActiveTextColor);  
    --uiPaginationItemActiveBgColor: var(--paginationItemActiveBgColor);
    --uiPaginationItemActiveBorderColor: var(--paginationItemActiveBorderColor, transparent);
    --uiPaginationItemFontWeight: var(--paginationItemFontWeight, 700);
    --uiPaginationArrowIndent: var(--paginationArrowIndent, 4px);
    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .pagination__number_active{
    font-weight: var(--uiPaginationItemFontWeight);
  }
  
  .pagination__control_prev{
    margin-left: var(--uiPaginationArrowIndent);
  }
  
  .pagination__control_next{
    margin-right: var(--uiPaginationArrowIndent);
  }
  
  .pagination__number{
    display: inline-block;
    line-height: 1;
    padding: var(--uiPaginationItemPadding);
    
    border: 2px solid transparent;
    border-radius: var(--uiPaginationItemBorderRadius);
    
    text-decoration: none;
    color: var(--uiPaginationItemTextColor);
  }
  
  .pagination__number:focus{
    outline-color: var(--uiPaginationItemActiveBgColor);
  }
  
  .pagination__number_active{
    border-color: var(--uiPaginationItemActiveBorderColor);
    background-color: var(--uiPaginationItemActiveBgColor);
    color: var(--uiPaginationItemActiveTextColor);
  }
  
  /*
  * demo styles for pagination
  */
  
  .pagination{
    --paginationItemActiveBgColor: #4557bb;
    --paginationItemTextColor: #0094d9;
    --paginationItemActiveTextColor: #fff;
    
    justify-content: center;
  }
  
  /* type 2 */
  
  .pagination_type2{
    --paginationItemTextColor: #0094d9;
    --paginationItemActiveTextColor: #4557bb;
    --paginationItemActiveBgColor: #fff;
    --paginationItemActiveBorderColor: #4557bb;  
  }
  
  /* type 3 */
  
  .pagination_type3{
    --paginationItemBorderRadius: 50%;
  }
  
  /* type 4 */
  
  .pagination_type4{
    --paginationItemBorderRadius: 2px;
  }
  @media screen and (max-width: 640px){
  
    .pagination__item{
      display: none;
    }
  
    .pagination__item:first-child, .pagination__item:nth-child(2),
    .pagination__item:nth-child(3), .pagination__item:nth-child(4),
    .pagination__item:nth-child(5), .pagination__item:last-child{
      display: inline-block;
    }
  
    .pagination__control{
      display: none;
    }
  }

  
  .demo{
    position: relative;
    padding: 5rem 3rem;
    background-color: #fff;
  }
  
  .demo:not(:first-of-type){
    margin-top: 5rem;
  }

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.login1 body{
	height: 100%;
	background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background:orange;
	position: relative;
}

.login1 html{
	height: 100%;
	background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background:black;
	position: relative;
}
  
  #login-box {
    width: 80%;
    position: absolute;
    border-radius: 15px;
	border: 1px solid black;
	background: black;
	min-height: 250px;
    padding: 20px;
    margin-top: 33%;
    margin-left: 50px;
	z-index: 9999;
}
#login-box .logo .logo-caption {
	color: white;
	text-align: center;
	margin-bottom: 0px;
}
#login-box .logo .tweak {
	color: #af6409;
}
#login-box .controls {
	padding-top: 30px;
}
#login-box .controls input {
	border-radius: 0px;
	background: white;
	border: 0px;
	color: black;
	font-family: 'Nunito', sans-serif;
}
#login-box .controls input:focus {
	box-shadow: none;
}
#login-box .controls input:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#login-box .controls input:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 8px;
    background:black;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-color: white;
    color: orange;
	font-family: 'Nunito', sans-serif;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #af6409;
}
#particles-js{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 50% 50%;
  	position: fixed;
  	top: 0px;
  	z-index:1;
}

.form-login{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.video{
    margin-top: 33%;
    position: absolute;
    z-index: 9999;

}

.footer-login{
    z-index: 9999;
    position: relative;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    margin-top: 53%;
}
.hr-img{
   width: 98%;
   height: 100%;
   margin-left: 10px;
}

